/* Styles communs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style pour le body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white; /* Fond blanc */
}

/* Styles pour le header principal */
.main-header {
    background-image: url('background.jpg'); /* Remplace le nom de l'image ici */
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    color: white; /* Couleur du texte */
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4); /* Ombre légère pour faire ressortir le texte */
    width: 100%;
    height: 100%;
}

/* Conteneur central */
.container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

/* Logo */
.logo {
    font-size: 26px;
    font-weight: bold;
}

/* Menu */
.menu a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: #ffd700; /* Couleur dorée au survol */
}

/* Bouton d'entrée */
.btn-enter {
    background-color: #4CAF50;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.btn-enter:hover {
    background-color: #45a049; /* Couleur plus foncée au survol */
}

/* Autres styles (pour boutons, sections, etc.) */
button {
    background-color: #80b673;
    color: rgb(8, 16, 11);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #246b44; /* Couleur plus foncée au survol */
}

/* Liste des éléments */
#liste-questions {
    list-style-type: none;
    padding: 0;
}

#liste-questions li {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}
